.hero-training {
  background-image: url("/images/piscine-exterieure.jpg");
}

/* INTRO */

.training-intro {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  font-size: 1.1rem;
}

/* SECTIONS */

.training-block {
  padding: 60px 20px;
}

.training-block.alt {
  background: #f6f6f6;
}

/* GRID */

.training-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* TEXT */

/* .training-text h2 {
  color: #730d4a;
  margin-bottom: 15px;
}

.training-text p {
  line-height: 1.6;
} */

/* IMAGES */

.training-images img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* MOBILE */

@media (max-width: 900px) {
  .training-grid {
    grid-template-columns: 1fr;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }
}
