.hero-training {
  background-image: url("/images/piscine-exterieure.jpg");
}

/* SECTIONS */

.training-block {
  padding: 60px 20px;
}

.training-block.alt {
  background: #f6f6f6;
}

/* GRID */

.training-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* IMAGES */

.training-images img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* MOBILE */

@media (max-width: 900px) {
  .training-grid {
    grid-template-columns: 1fr;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }
}

.planning {
  background: #f7f7f7;
  padding: 60px 20px;
}

.planning-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
