.hero-inscriptions {
  background-image: url("/images/club-groupe.jpg");
}

main {
  background: #f7f7f7;
}

/* TARIFS */

.tarif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
}

.prix {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 12px 0;
  color: var(--violet);
}

.reduction {
  font-size: 0.9rem;
  color: #777;
}

/* PAIEMENT */

.paiement {
  background: #fafafa;
}
.paiement-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* TIMELINE */

.timeline {
  max-width: 700px;
  margin: auto;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step span {
  width: 40px;
  height: 40px;
  min-width: 40px;
  flex-shrink: 0;
  background: var(--violet);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

/* INFO */

.info-box {
  background: #fff6fb;
  border-left: 5px solid var(--violet);
  padding: 25px;
  border-radius: 6px;
}

.reduction {
  font-size: 0.9rem;
  color: #777;
}

/* PAIEMENT */

.paiement {
  background: #fafafa;
}

.paiement-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* PROCEDURE */

.timeline {
  max-width: 700px;
  margin: auto;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step span {
  width: 40px;
  height: 40px;

  min-width: 40px;
  min-height: 40px;

  flex-shrink: 0;

  background: var(--violet);
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  margin-right: 15px;
}

.info-box {
  background: #fff6fb;

  border-left: 5px solid var(--violet);

  border-radius: 6px;
}
